# .env.example
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=https://mzmajmjzopmkzboizrbm.supabase.co
VITE_SUPABASE_URL=https://mzmajmjzopmkzboizrbm.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_GOOGLE_MAPS_PLATFORM_KEY=
